<section class="section-container">

  <div class="parameters-grid-container">

    <div class="parameters-grid-container">
      <mat-form-field class="controler-container" appearance="outline">
        <mat-label>Número de Filas</mat-label>
        <input matInput [formControl]="rows" type="number">
      </mat-form-field>

      <mat-form-field class="controler-container" appearance="outline">
        <mat-label>Número de columnas</mat-label>
        <input matInput [formControl]="columns" type="number">
      </mat-form-field>

      <mat-form-field class="controler-container" appearance="outline">
        <mat-label>Row gap</mat-label>
        <input matInput [formControl]="rowGap" type="number">
      </mat-form-field>

      <mat-form-field class="controler-container" appearance="outline">
        <mat-label>Column gap</mat-label>
        <input matInput [formControl]="columnGap" type="number">
      </mat-form-field>
    </div>
  </div>

  <!-- seccion de excibicion del grid -->
  <div class="exhibition-section">
    <div class="grid-edit" [ngStyle]="getGridStyles()">
      @for(element of controlGridList; track element){
      <div class="element-control" (click)="createNewElement(element.id)" #elementControl>
        <div class="element-control-adding"><mat-icon>add_circle</mat-icon></div>
      </div>
      }
    </div>
    <div class="grid-interactive" [ngStyle]="getGridStylesInteractive()">
      @for(elementAdded of addedElementsList; track elementAdded){
      <div class="element-added" cdkDrag (cdkDragEnded)="onDragEnded($event, elementAdded)"
        cdkDragBoundary=".grid-interactive" (cdkDragStarted)="onDragStarted($event, elementAdded)"
        (cdkDragMoved)="cdkDragMoved($event, elementAdded)" [cdkDragFreeDragPosition]="dragPosition()"
        (click)="itemSelected(elementAdded)" [ngClass]="{'selected': elementAdded.selected}"
        [ngStyle]="getItemStyle(elementAdded)">
        <div class="element-added-close" (click)="removeElement(elementAdded)"><mat-icon>close</mat-icon></div>
        <div class="identify-text">div{{ elementAdded.id }}</div>
        <div class="expand-icon" (mousedown)="startResize($event, elementAdded)"><mat-icon>aspect_ratio</mat-icon></div>
        <div class="movement-icon" cdkDragHandle><mat-icon>pan_tool</mat-icon></div>
      </div>
      }
    </div>
  </div>

  <!-- seccion de parametros para el grid y sus elementos -->
  <div class="parameters-section">

    <div class="parameters-section-container">
      <div class="title-parametes">Propiedades del contenedor</div>
      <mat-accordion multi>

        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">justify-items</div>
              <mat-radio-group class=".radiosB-container" [(ngModel)]="justifyItemsOption">
                <mat-radio-button value="stretch" (click)="$event.stopPropagation()">stretch</mat-radio-button>
                <mat-radio-button value="start" (click)="$event.stopPropagation()">start</mat-radio-button>
                <mat-radio-button value="end" (click)="$event.stopPropagation()">end</mat-radio-button>
                <mat-radio-button value="center" (click)="$event.stopPropagation()">center</mat-radio-button>
              </mat-radio-group>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="description-option">
            Controla la alineación vertical de los elementos dentro de sus celdas. Puede
            tener varios valores: start (alineación en la parte superior), center (centrado vertical), end (parte
            inferior) y stretch (el valor por defecto, que estira los elementos para ocupar todo el espacio vertical
            disponible). Esto permite ajustar cómo se distribuyen los elementos a lo largo del eje vertical en cada
            celda de la cuadrícula.
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">aling-items</div>
              <mat-radio-group class=".radiosB-container" [(ngModel)]="alignItemsOption">
                <mat-radio-button value="stretch" (click)="$event.stopPropagation()">stretch</mat-radio-button>
                <mat-radio-button value="start" (click)="$event.stopPropagation()">start</mat-radio-button>
                <mat-radio-button value="end" (click)="$event.stopPropagation()">end</mat-radio-button>
                <mat-radio-button value="center" (click)="$event.stopPropagation()">center</mat-radio-button>
              </mat-radio-group>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="description-option">
            Controla la alineación horizontal de los elementos dentro de sus celdas. Sus valores incluyen: start
            (alineación a la izquierda), center (centrado horizontal), end (alineación a la derecha) y stretch (valor
            por defecto, que estira los elementos para llenar todo el espacio horizontal disponible). Esto define cómo
            se distribuyen los elementos a lo largo del eje horizontal dentro de cada celda de la cuadrícula.
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">align-content</div>
              <mat-radio-group class=".radiosB-container" [(ngModel)]="alignContentOption">
                <mat-radio-button value="start" (click)="$event.stopPropagation()">start</mat-radio-button>
                <mat-radio-button value="end" (click)="$event.stopPropagation()">end</mat-radio-button>
                <mat-radio-button value="center" (click)="$event.stopPropagation()">center</mat-radio-button>
                <mat-radio-button value="space-between"
                  (click)="$event.stopPropagation()">space-between</mat-radio-button>
                <mat-radio-button value="space-around"
                  (click)="$event.stopPropagation()">space-around</mat-radio-button>
              </mat-radio-group>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="description-option">
            Define cómo se distribuye el espacio vertical entre las filas cuando todo el grid es mas pequeño que el
            espacio para el contenedor del grid. Solo afecta si tienes varias filas y hay espacio extra. Los valores
            comunes son: start (las
            filas se agrupan en la parte superior), center (las filas se centran verticalmente), end (se agrupan en la
            parte inferior), space-between (distribuye el espacio de manera uniforme entre las filas), space-around
            (agrega espacio alrededor de las filas), y stretch (el valor por defecto, que expande las filas para llenar
            el espacio).
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">justify-content</div>
              <mat-radio-group class=".radiosB-container" [(ngModel)]=" justifyContentOption">
                <mat-radio-button value="start" (click)="$event.stopPropagation()">start</mat-radio-button>
                <mat-radio-button value="end" (click)="$event.stopPropagation()">end</mat-radio-button>
                <mat-radio-button value="center" (click)="$event.stopPropagation()">center</mat-radio-button>
                <mat-radio-button value="space-between"
                  (click)="$event.stopPropagation()">space-between</mat-radio-button>
                <mat-radio-button value="space-around"
                  (click)="$event.stopPropagation()">space-around</mat-radio-button>
              </mat-radio-group>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="description-option">
            Controla cómo se distribuye el espacio horizontal entre las columnas cuando hay espacio sobrante en el
            contenedor. Solo tiene efecto si el contenido no ocupa todo el ancho. Los valores más comunes son: start
            (las columnas se alinean a la izquierda), center (se centran horizontalmente), end (se alinean a la
            derecha), space-between (distribuye el espacio uniformemente entre las columnas), space-around (agrega
            espacio alrededor de cada columna), y stretch (expande las columnas para ocupar todo el espacio horizontal
            disponible).
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">Filas y Columnas</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="rows-columns-options">

            <div class="dimension-container">
              <div class="dimension-title">Rows</div>
              @for (row of rowsList; track $index) {
              <div class="dimension-options">
                <div class="id-label">row{{ row.id}}</div>
                <input class="dimension-value" [(ngModel)]="row.value" (ngModelChange)="onInputChangeRow($event, row)"
                  matInput type="number">
                <button class="dimension-magnitude" mat-button [matMenuTriggerFor]="menu">{{row.magnitude}}</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="onMagnitudeChangeRow(row, 'fr')">fr</button>
                  <button mat-menu-item (click)="onMagnitudeChangeRow(row, 'px')">px</button>
                  <button mat-menu-item (click)="onMagnitudeChangeRow(row, '%')">%</button>
                </mat-menu>
                <button class="delete-dimension" (click)="onDeleteRow(row)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              }
            </div>

            <div class="dimension-container">
              <div class="dimension-title">Columns</div>
              @for (column of columnsList; track $index) {
              <div class="dimension-options">
                <div class="id-label">col{{ column.id}}</div>
                <input class="dimension-value" [(ngModel)]="column.value"
                  (ngModelChange)="onInputChangeColumn($event, column)" matInput type="number">
                <button class="dimension-magnitude" mat-button [matMenuTriggerFor]="menu">{{column.magnitude}}</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="onMagnitudeChangeColumn(column, 'fr')">fr</button>
                  <button mat-menu-item (click)="onMagnitudeChangeColumn(column, 'px')">px</button>
                  <button mat-menu-item (click)="onMagnitudeChangeColumn(column, '%')">%</button>
                </mat-menu>
                <button class="delete-dimension" (click)="onDeleteColumn(column)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              }
            </div>

          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </div>

    <div class="parameters-section-item">
      <div class="title-parametes">Propiedades del item</div>
      <mat-accordion multi>

        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">justify-self</div>
              <mat-radio-group class=".radiosB-container" [(ngModel)]="justifySelfOption"
                (ngModelChange)="justifySelfChange($event)">
                <mat-radio-button value="stretch" (click)="$event.stopPropagation()">stretch</mat-radio-button>
                <mat-radio-button value="start" (click)="$event.stopPropagation()">start</mat-radio-button>
                <mat-radio-button value="end" (click)="$event.stopPropagation()">end</mat-radio-button>
                <mat-radio-button value="center" (click)="$event.stopPropagation()">center</mat-radio-button>
              </mat-radio-group>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="description-option">
            Alinea un elemento hijo dentro de una celda de un CSS Grid en el eje horizontal. Tiene cuatro valores: start
            (alinea a la izquierda), end (a la derecha), center (centra el elemento), y stretch (expande el elemento
            para que ocupe todo el ancho de la celda). Controla cómo se coloca el contenido dentro de una celda sin
            afectar la distribución general de la cuadrícula.
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">aling-self</div>
              <mat-radio-group class=".radiosB-container" [(ngModel)]="alignSelfOption"
                (ngModelChange)="alignSelfChange($event)">
                <mat-radio-button value="stretch" (click)="$event.stopPropagation()">stretch</mat-radio-button>
                <mat-radio-button value="start" (click)="$event.stopPropagation()">start</mat-radio-button>
                <mat-radio-button value="end" (click)="$event.stopPropagation()">end</mat-radio-button>
                <mat-radio-button value="center" (click)="$event.stopPropagation()">center</mat-radio-button>
              </mat-radio-group>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="description-option">
            Alinea un elemento hijo dentro de una celda de un CSS Grid en el eje vertical. Tiene cuatro valores: start
            (alinea en la parte superior), end (en la parte inferior), center (centra el elemento verticalmente), y
            stretch (expande el elemento para ocupar toda la altura de la celda). Controla la colocación del contenido
            dentro de una celda verticalmente, sin afectar el resto de la cuadrícula.
          </div>
        </mat-expansion-panel>


      </mat-accordion>
    </div>
  </div>
  <div class="code-section">
    <div class="code-container">
      <div class="title-typecode">Codigo Css</div>
      <div class="code-output-container">
        <pre><code class="language-css">
.grid-container&#123;
          display: grid;
          grid-template-rows: {{generateStringRows()}};
          grid-template-columns: {{generateStringColumns()}};
          gap: 0;
          width: 100%;
          height: 100%;
          &#125;
        </code></pre>
        @for (item of addedElementsList; track $index) {
          <pre><code class="language-css">
#div{{item.id}}&#123;
      grid-row: {{item.row}} span {{item.rowSpan}},
      grid-column: {{item.column}} span {{item.columnSpan}},
      background-color: {{item.color}},
      justify-self: {{item.justifySelf}},
      align-self: {{item.alingSelf}},
      &#125;
          </code></pre>
        }

      </div>
    </div>

    <div class="code-container">
      <div class="title-typecode">Codigo Html</div>
      <div class="code-output-container">
        <pre><code class="language-html">
&lt;div class="grid-container"&gt;
  @for (element of addedElementsList; track $index) {
    &lt;div id="div{{element.id}}" class="grid-items"&gt;&lt;/div&gt;
  }
&lt;/div&gt;
        </code></pre>
      </div>
    </div>
  </div>
</section>
