.section-container {

  .parameters-grid-container {
    display: flex;
    margin: 15px 0;
    gap: 10px;
    padding: 2px;

    .controler-container {
      background-color: var(--color-bg-input);
    }
  }

  /* estilos para el grid exhibition */
  .exhibition-section {
    height: 430px;
    overflow: auto;
    border: 3px solid var(--primary-color-bg500);
    display: grid;
    grid-template-rows: 1fr;
    position: relative;
    /* Asegura que ocupe el 100% del espacio */

    .grid-edit {
      display: grid;
      height: 100%;
      padding: 5px;
      background-color: #8A91C4;
      box-sizing: border-box;
      opacity: 0.7;
      z-index: 4;

      .element-control {
        background-color: white;
        outline: 1.5px dashed var(--primary-color);
        position: relative;

        .element-control-adding {
          display: none;
        }

      }

      .element-control:hover {
        background-color: #e0e0e0;
        opacity: 1;

        .element-control-adding {
          height: 100%;
          width: 100%;
          display: grid;
          justify-items: center;
          align-items: center;
          position: absolute;
          top: 0;
          color: var(--primary-color);
        }
      }
    }

    .grid-interactive{
      position: absolute;
      display: grid;
      padding: 5px;
      height: 100%;
      width: 100%;
      box-sizing: border-box;

      .element-added{
        opacity: 0.6;
        z-index: 6;
        position: relative;


        .element-added-close{
          position: absolute;
          cursor: pointer;
        }

        .identify-text{
          position: absolute;
          top: 0;
          right: 3px;
          color: white;
        }

        .expand-icon{
          position: absolute;
          bottom: 0;
          right: 3px;
          color: white;
          cursor: pointer;
        }

        .movement-icon{
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(25%, -50%);
          cursor: grab;
          color: #e0e0e0;
        }

        .movement-icon:active{
          cursor: grabbing;
        }
      }
    }
  }

  .parameters-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 0;

    /* propiedad que afacta a la seccion container e item */
    .container-option-card {
      margin: 2px 0;
    }

    /* propiedad que afacta a la seccion container e item */
    .title-parametes {
      font-weight: bold;
    }

    /* propiedad que afacta a la seccion container e item */
    .description-option {
      background-color: var(--color-bg-info-text);
    }

    .parameters-section-container {
      flex: 1;
    }

    .parameters-section-item {
      flex: 1;
    }
  }
}

/* estilos para las cards de las opciones del flex */
.container-option-card {
  padding: 8px 0;

  .option-card-header {
    height: auto;

    .option-card-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;


      .option-title {
        display: block;
        font-weight: bolder;
        font-size: large;
      }

      .radiosB-container {
        display: block;
      }
    }
  }
}


/* Para quitar el padding que tiene abajo el matInput */
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
