<section class="section-container">

  <div class="parameters-grid-container">

    <div class="parameters-grid-container">
      <mat-form-field class="controler-container" appearance="outline">
        <mat-label>Número de Filas</mat-label>
        <input matInput [formControl]="rows" type="number">
      </mat-form-field>

      <mat-form-field class="controler-container" appearance="outline">
        <mat-label>Número de columnas</mat-label>
        <input matInput [formControl]="columns" type="number">
      </mat-form-field>

      <mat-form-field class="controler-container" appearance="outline">
        <mat-label>Row gap</mat-label>
        <input matInput [formControl]="rowGap" type="number">
      </mat-form-field>

      <mat-form-field class="controler-container" appearance="outline">
        <mat-label>Column gap</mat-label>
        <input matInput [formControl]="columnGap" type="number">
      </mat-form-field>
    </div>
  </div>

  <!-- seccion de excibicion del grid -->
  <div class="exhibition-section">
    <div class="grid-edit" [ngStyle]="getGridStyles()">
      @for(element of controlGridList; track element){
      <div class="element-control" (click)="createNewElement(element.id)" #elementControl>
        <div class="element-control-adding"><mat-icon>add_circle</mat-icon></div>
      </div>
      }
    </div>
    <div class="grid-interactive" [ngStyle]="getGridStyles()">
      @for(elementAdded of addedElementsList; track elementAdded){
      <div class="element-added" cdkDrag (cdkDragEnded)="onDragEnded($event, elementAdded)" cdkDragBoundary=".grid-interactive"
        (cdkDragStarted)="onDragStarted($event, elementAdded)" (cdkDragMoved)="cdkDragMoved($event, elementAdded)"
        [cdkDragFreeDragPosition]="dragPosition()"
        [ngStyle]="{
          'grid-row': elementAdded.row + ' / span ' + elementAdded.rowSpan,
          'grid-column': elementAdded.column + ' / span ' + elementAdded.columnSpan,
          'background-color': elementAdded.color
        }">
        <div class="element-added-close"><mat-icon>close</mat-icon></div>
        <div class="identify-text">div{{ elementAdded.id }}</div>
        <div class="expand-icon"><mat-icon>aspect_ratio</mat-icon></div>
        <div class="movement-icon" cdkDragHandle><mat-icon>pan_tool</mat-icon></div>
      </div>
      }
    </div>
  </div>

  <!-- seccion de parametros para el grid y sus elementos -->
  <div class="parameters-section">

    <div class="parameters-section-container">
      <div class="title-parametes">Propiedades del contenedor</div>
      <mat-accordion multi>

        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">justify-items</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>contenido</div>
        </mat-expansion-panel>

        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">aling-items</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>contenido</div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="parameters-section-item">
      <div class="title-parametes">Propiedades del item</div>
      <mat-accordion multi>

        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">Row/Column Start</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>contenido</div>
        </mat-expansion-panel>


      </mat-accordion>
    </div>
  </div>
</section>
