/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --primary-color: #8fc1e1;

  --secondary-color: #bfd2df;

  --accent-color: #e74c3c;

  --primary-color-bg: #F7F5FF;
  --primary-color-bg500: #CCCCCC;

  --color-bg-input: #f0efef;
  --color-bg-info-text: #F7F7F7;

  --text-color: #333333;
}
