<section class="main-container">
  <div class="title">Flex-box</div>

  <div class="container">

    <div class="controler-items">

      <mat-form-field appearance="outline" class="control-item-container">
        <mat-label>Numero de elementos</mat-label>
        <input matInput type="number" [formControl]="numeroElementos">
      </mat-form-field>


      <mat-form-field appearance="outline" class="control-item-container">
        <mat-label>Width del elemento</mat-label>
        <input matInput type="number" [formControl]="widthElementos">
      </mat-form-field>



    </div>

    <div class="exhibition-section">
      <div class="flexbox-edit" [ngStyle]="{
        'flex-direction': flexDirectionOption,
        'justify-content': justifyContentOption,
        'align-items': alignItemsOption,
        'flex-wrap' : flexWrapOption,
        'align-content': alignContentOption

        }">
        @for (elemento of elementosArray; track elemento) {
        <div class="elemento" [ngStyle]="{
            'width.px': widthElementos.value,

          }">
          {{ elemento }}
        </div>
        }
      </div>
    </div>

    <div class="parameters-section">

      <mat-accordion class="parameters-section-container" multi>
        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">flex-direction</div>
              <mat-radio-group class="radiosB-container" [(ngModel)]="flexDirectionOption"
                (ngModelChange)="onOptionChange($event, 'flexDirectionOption')">
                <mat-radio-button class="" value="row" (click)="$event.stopPropagation()">row</mat-radio-button>
                <mat-radio-button class="" value="row-reverse" (click)="$event.stopPropagation()">row-reverse</mat-radio-button>
                <mat-radio-button class="" value="column" (click)="$event.stopPropagation()">column</mat-radio-button>
                <mat-radio-button class="" value="column-reverse" (click)="$event.stopPropagation()">column-reverse</mat-radio-button>
              </mat-radio-group>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div>Define la dirección en la que se colocan los elementos hijos dentro de un contenedor flexbox. Puede tomar uno de estos valores</div>
        </mat-expansion-panel>

        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">justify-content</div>
              <mat-radio-group class="radiosB-container" [(ngModel)]="justifyContentOption"
                (ngModelChange)="onOptionChange($event, 'justifyContentOption')">
                <mat-radio-button value="flex-start" (click)="$event.stopPropagation()">flex-start</mat-radio-button>
                <mat-radio-button value="flex-end" (click)="$event.stopPropagation()">flex-end</mat-radio-button>
                <mat-radio-button value="center" (click)="$event.stopPropagation()">center</mat-radio-button>
                <mat-radio-button value="space-between" (click)="$event.stopPropagation()">space-between</mat-radio-button>
                <mat-radio-button value="space-evenly" (click)="$event.stopPropagation()">space-evenly</mat-radio-button>
              </mat-radio-group>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>Sirve para alinear los elementos hijos a lo largo del eje principal de un contenedor flex,permite controlar la distribución del espacio entre y alrededor de los elementos flexibles dentro del contenedor, facilitando así un diseño más dinámico y flexible.</div>
        </mat-expansion-panel>


        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">align-items</div>
              <mat-radio-group class="radiosB-container" [(ngModel)]="alignItemsOption"
                (ngModelChange)="onOptionChange($event, 'alignItemsOption')">
                <mat-radio-button value="stretch" (click)="$event.stopPropagation()">stretch</mat-radio-button>
                <mat-radio-button value="flex-start" (click)="$event.stopPropagation()">flex-start</mat-radio-button>
                <mat-radio-button value="flex-end" (click)="$event.stopPropagation()">flex-end</mat-radio-button>
                <mat-radio-button value="center" (click)="$event.stopPropagation()">center</mat-radio-button>
                <mat-radio-button value="baseline" (click)="$event.stopPropagation()">baseline</mat-radio-button>
              </mat-radio-group>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>Sirve para alinear los elementos hijos a lo largo del eje transversal de un contenedor flex. permite controlar la alineación y distribución de los elementos flexibles a lo largo del eje transversal, proporcionando una manera efectiva de manejar el espacio vertical u horizontal entre los elementos.</div>
        </mat-expansion-panel>



        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">flex-wrap</div>
              <mat-radio-group class="radiosB-container" [(ngModel)]="flexWrapOption"
                (ngModelChange)="onOptionChange($event, 'flexWrapOption')">
                <mat-radio-button value="nowrap" (click)="$event.stopPropagation()">nowrap</mat-radio-button>
                <mat-radio-button value="wrap" (click)="$event.stopPropagation()">wrap</mat-radio-button>
                <mat-radio-button value="wrap-reverse" (click)="$event.stopPropagation()">wrap-reverse</mat-radio-button>
              </mat-radio-group>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>Sirve para controlar cómo los elementos flexibles se envuelven en múltiples líneas dentro de un contenedor flex. Esta propiedad es útil cuando hay más elementos flexibles de los que el contenedor puede mostrar en una sola línea, permitiendo que los elementos se distribuyan en varias líneas o columnas según sea necesario</div>
        </mat-expansion-panel>


        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">align-content</div>
              <mat-radio-group class="radiosB-container" [(ngModel)]="alignContentOption"
                (ngModelChange)="onOptionChange($event, 'alignContentOption')">
                <mat-radio-button value="stretch" (click)="$event.stopPropagation()">stretch</mat-radio-button>
                <mat-radio-button value="flex-start" (click)="$event.stopPropagation()">flex-start</mat-radio-button>
                <mat-radio-button value="flex-end" (click)="$event.stopPropagation()">flex-end</mat-radio-button>
                <mat-radio-button value="center" (click)="$event.stopPropagation()">center</mat-radio-button>
                <mat-radio-button value="space-between" (click)="$event.stopPropagation()">space-between</mat-radio-button>
                <mat-radio-button value="space-around" (click)="$event.stopPropagation()">space-around</mat-radio-button>
              </mat-radio-group>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>Sirve para alinear y distribuir el espacio entre las líneas de elementos flexibles a lo largo del eje transversal de un contenedor flex. Esta propiedad es relevante cuando hay múltiples líneas de elementos dentro del contenedor, lo cual ocurre cuando se utiliza flex-wrap con el valor wrap o wrap-reverse.</div>
        </mat-expansion-panel>

      </mat-accordion>


      <mat-accordion class="parameters-section-item" multi>
        <mat-expansion-panel class="container-option-card">
          <mat-expansion-panel-header class="option-card-header">
            <mat-panel-title class="option-card-title">
              <div class="option-title">flex-grow</div>
              <mat-form-field appearance="outline" class="input-option-container">
                <input class="input-option" matInput type="number">
              </mat-form-field>
            </mat-panel-title>

          </mat-expansion-panel-header>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>
</section>
