.main-container{


  .title{
    font-size: 30px;
    background-color: var(--primary-color);
    padding: 10px;
    font-weight: bold;
  }

  .container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .controler-items{
      display: flex;
      margin: 15px 0;
      gap: 10px;

      padding: 2px;

      .control-item-container{
        background-color: var(--color-bg-input);
      }
    }

    .exhibition-section{
      height: 300px;
      position: sticky;
      border: 3px solid var(--primary-color-bg500);

      .flexbox-edit{
        display: flex;
        gap: 10px;
        height: 100%;


        .elemento{
          background-color: var(--secondary-color);

        }
      }
    }

    .parameters-section{
      display: flex;

      .parameters-section-container{
        flex: 1;
      }

      .parameters-section-item{
        flex: 1;

        .input-option-container{
          width: 100%;

          background-color: aqua;

          .input-option{
            background-color: bisque;
            margin: 0;
            height: 20%;
          }

        }
      }
    }
  }
}

/* estilos para las cards de las opciones del flex */
.container-option-card{
  padding: 8px 0;
  .option-card-header{
    height: auto;
    .option-card-title{
      display: flex;
      flex-direction: column;
      align-items: flex-start;


      .option-title{
        display: block;
        font-weight: bolder;
        font-size: large;
      }

      .radiosB-container{
        display: block;
      }
    }
  }
}

/* Para quitar el padding que tiene abajo el matInput */
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix{
  padding: 0 !important;

}

.mat-mdc-text-field-wrapper{
  display: block;
}
