.main-container{
  padding: 5px;

  .title{
    font-size: larger;
  }

  .container{

    display: flex;
    flex-direction: column;

    .controler-items{
      display: flex;
    }

    .exhibition-section{
      height: 300px;
      position: sticky;

      .flexbox-edit{
        display: flex;
        gap: 10px;
        height: 100%;


        .elemento{
          background-color: aqua;

        }
      }
    }

    .parameters-section{
      display: flex;

      .parameters-section-container{
        flex: 1;
      }

      .parameters-section-item{
        flex: 1;

      }
    }
  }
}

/* estilos para las cards de las opciones del flex */
.container-option-card{
  padding: 8px 0;
  .option-card-header{
    height: auto;
    .option-card-title{
      display: flex;
      flex-direction: column;
      align-items: flex-start;


      .option-title{
        display: block;
      }

      .radiosB-container{
        display: block;
      }
    }
  }
}

