.main-container{


  .title{
    font-size: 30px;
    background-color: var(--primary-color);
    padding: 10px;
    font-weight: bold;
  }

  .container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .controler-items{
      display: flex;
      margin: 15px 0;
      gap: 10px;

      padding: 2px;

      .control-item-container{
        background-color: var(--color-bg-input);
      }
    }

    .exhibition-section{
      height: 300px;
      position: sticky;
      overflow: auto;
      border: 3px solid var(--primary-color-bg500);

      .flexbox-edit{
        display: flex;
        gap: 10px;
        height: 100%;

        .elemento{
          background-color: var(--secondary-color);
          cursor: pointer;

        }

        /* clase para mostrar un elemento seleccionado */
        .selected {
          background-color: var(--secondary-color-bg);
          color: white;
        }
      }
    }

    .parameters-section{
      display: flex;
      gap: 10px;
      padding: 5px 0;

      /* propiedad que afacta a la seccion container e item */
      .container-option-card{
        margin: 2px 0;
      }
      /* propiedad que afacta a la seccion container e item */
      .title-parametes{
        font-weight: bold;
      }
      /* propiedad que afacta a la seccion container e item */
      .description-option{
        background-color: var(--color-bg-info-text);
      }

      .parameters-section-container{
        flex: 1;
      }

      .parameters-section-item{
        flex: 1;

        .input-option-container{
          width: 100%;
          padding: 5px 0;

          .input-option{
            margin: 0;
          }

        }
      }
    }
  }
}

/* estilos para las cards de las opciones del flex */
.container-option-card{
  padding: 8px 0;
  .option-card-header{
    height: auto;
    .option-card-title{
      display: flex;
      flex-direction: column;
      align-items: flex-start;


      .option-title{
        display: block;
        font-weight: bolder;
        font-size: large;
      }

      .radiosB-container{
        display: block;
      }
    }
  }
}

/* Para quitar el padding que tiene abajo el matInput */
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

::ng-deep .input-option-container > .mdc-text-field--no-label .mat-mdc-form-field-infix{
  padding: 7px 0 0 0;
}

::ng-deep .input-option-container > .mat-mdc-text-field-wrapper {
  height: 40px !important;
}
